<!DOCTYPE html>
  <html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
	  <body>
	  	<div class="container">
	  		<a href='/favorite_photos'>GO PHOTOS</a>
	  		<a href='/australia'>GO AUSSIE</a>
	  		<a href='/'>GO HOME</a>

		<%= yield %>
	  </div>
    </body>
</html>