<h1>Enter the phrase you would like in l33t!</h1>

<form action='/title'>
  <div class="form-group">
    <label for="input">String to evaluate:</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>