<form action="/score">
	<fieldset >
		<label for="word">Enter a word you would like to score</label>
		<input id="word" name="word" pattern="[A-Za-z]{1,}" class="form-control" required="true" type="text">
	</fieldset>
		<button type="submit">Send!</button>
</form>